.categories{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.category{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1.5px solid rgb(182, 180, 180);
    border-radius: 45px;
    padding: 7px 5px;
    column-gap: 7px;
    cursor: pointer;
    color: gray;
}

.activeCat{
    background-color: #374453;
    color: white;
}

.category h1{
    font-size: 17px;
}

.category img{
    width: 50px;
    border-radius: 50%;
}

@media only screen and (max-width: 750px) {
    .category h1{
        font-size: 15px;
    }
    .category img{
        width: 30px;
    }
}

@media only screen and (max-width: 550px) {
    .categories{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
    }
}

