.searchForm{
    margin: 5px 20px 0;
    border-top: 2px solid rgb(187, 181, 181);
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchForm h1{
    text-shadow: 4px -2px 2px rgba(0,0,0,0.25);
    font-size: 40px;
}

.searchInputContainer{
    display: flex;
    column-gap: 25px;
}

.searchInputContainer form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInputContainer input{
    background-color: transparent;
    border: 1px solid gray;
    min-width: 300px;
    font-size: 16px;
    height: 45px;
    padding: 0px 45px;
    border-radius: 45px;
}

.searchIcon{
    position: absolute;
    left: 15px;
    color: gray;
}

.filter{
    border-radius: 45px;
    min-width: 120px;
    border: none;
    height: 40px;
    padding: 0 10px;
    font-weight: 700;
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
    .searchForm h1{
        font-size: 30px;
    }
    .searchInputContainer{
        column-gap: 5px;
    }
    .searchInputContainer input{
        min-width: 200px;
        max-width: 300px;
        font-size: 15px;
        padding: 0px 10px 0 40px;
    }
}

@media only screen and (max-width: 550px) {
    .searchForm h1{
        font-size: 20px;
    }
    .searchInputContainer input{
        min-width: 180px;
        max-width: 180px;
        font-size: 12px;
        padding: 0px 10px 0 30px;
    }
    .searchIcon{
        left: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .searchForm{
        flex-direction: column;
        row-gap: 10px;
    }
    .searchInputContainer input{
        min-width: 170px;
        max-width: 170px;
    }
}
