.recipeCard{
    display: flex;
    row-gap: 13px;
    padding: 5px 10px 5px 60px;
    justify-content: center;
    flex-direction: column;
    background-color: #374453;
    border-radius: 35px;
    position: relative;
    height: 140px;
    width: 350px;
}

.recipeCard img{
    position: absolute;
    left: -11%;
    top: 20%;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border: 1px solid black;
}

.recipeCard h3{
    font-size: 20px;
    color: white;
}

.buttonContainer{
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.firstContainer{
    padding-right: 50px;
    border-right: 2px solid rgb(187, 181, 181);
}

.firstContainer button{
    outline: none;
    background-color: rgb(233, 231, 231);
    color: rgb(78, 75, 75);
    padding: 3px 10px;
    border-radius: 25px;
    border: 1px solid rgb(172, 164, 164);
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}

.bookmark{
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.bookmarkDisabled{
    color: rgb(95, 93, 93);
    font-size: 25px;
}

@media only screen and (max-width: 1075px) {
    .recipeCard{
        width: 300px;
    }
    .recipeCard h3{
        font-size: 17px;
    }
    .buttonContainer{
        column-gap: 30px;
    }
    .firstContainer{
        padding-right: 30px;
    }
    .firstContainer button{
        font-size: 13px;
    }
}

@media only screen and (max-width: 975px) {
    .recipeCard img{
        left: -11%;
        top: 25%;
        height: 70px;
        width: 70px;
    }
}

@media only screen and (max-width: 400px) {
    .recipeCard{
        width: 250px;
    }
    .recipeCard h3{
        font-size: 15px;
    }
    .buttonContainer{
        column-gap: 20px;
    }
    .firstContainer{
        padding-right: 20px;
    }
}
